
<!-- enviando del componente app.component a app-cabecero -->
<!-- property  binding  para llamar al metodo getPresupuestoTotal (dinamico) y pasa la informacion -->


<app-cabecero
[presupuestoTotal]="getPresupuestoTotal()"
[ingresoTotal]= "getIngresoTotal()"
[egresoTotal]="getEgresoTotal()"
[porcentajeTotal]="getPorcentajeTotal()"
>

</app-cabecero>


<app-formulario></app-formulario>


<div class="contenedor limpiaEstilos">
 <app-ingreso></app-ingreso>


 <app-egreso
 [ingresoTotal]="getIngresoTotal()"
>

</app-egreso>

</div>


